.external-container{
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 40px;

}
.from-to-container{
  display: flex;
  justify-content: center;
  // align-items: center;
}
.scroll-container {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.options {
  padding: 5px;
  margin-bottom: 5px;
  border:none;
  background-color: #f9f9f9;
}
.options:hover{
  background-color: gray;
}

button{
  all: unset;
  width: 90px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-btn{
  width: 65px;
  margin-bottom: 12px;
}
