<!-- <p>material works!</p>
<button mat-button>Click me!</button>
<button mat-raised-button>Click me!</button>
<button mat-icon-button color="accent">
  <mat-icon>home</mat-icon>
</button> -->

<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type= "email" matInput placeholder="yout email" ngModel name="email">
    </mat-form-field>
    <mat-form-field>
      <input type= "password" matInput placeholder="yout password" ngModel name="password">
    </mat-form-field>


    



    <!-- <div class="drop-down-property-typs">
      <div>
        <mat-checkbox>כל סוגי הנכסים</mat-checkbox>
      </div>
      <div class="example-margin">
        <mat-checkbox > דירות</mat-checkbox>
          <div class="drop-down-property-typs-inner">
            <mat-checkbox>א</mat-checkbox>
            <mat-checkbox>ב</mat-checkbox>
            <mat-checkbox>ג</mat-checkbox>
            <mat-checkbox>ד</mat-checkbox>
            <mat-checkbox>ה</mat-checkbox>
          </div>
      </div>

      <div class="example-margin">
        <mat-checkbox > בתים</mat-checkbox>
          <div class="drop-down-property-typs-inner">
            <mat-checkbox>א</mat-checkbox>
            <mat-checkbox>ב</mat-checkbox>
            <mat-checkbox>ג</mat-checkbox>
            <mat-checkbox>ד</mat-checkbox>
            <mat-checkbox>ה</mat-checkbox>
          </div>

      </div>

      <div class="example-margin">
        <mat-checkbox > סוגים נוספים</mat-checkbox>
          <div class="drop-down-property-typs-inner">
            <mat-checkbox>א</mat-checkbox>
            <mat-checkbox>ב</mat-checkbox>
            <mat-checkbox>ג</mat-checkbox>
            <mat-checkbox>ד</mat-checkbox>
            <mat-checkbox>ה</mat-checkbox>
          </div>

      </div>
    </div> -->


    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>




