<mat-form-field class="external-container">
  <mat-label>חדרים</mat-label>

  <div class="container-options">
    <div class="inside-container">
      <mat-label>מ-</mat-label>
      <mat-select>
        <mat-option value="one">1</mat-option>
        <mat-option value="two">2</mat-option>
      </mat-select>
    </div>
    <div class="inside-container">
      <mat-label>עד-</mat-label>
      <mat-select>
        <mat-option value="one">4</mat-option>
        <mat-option value="two">5</mat-option>
      </mat-select>
    </div>
  </div>
</mat-form-field>
