.external-container{
  display: flex;
  flex-direction: column;
}
.container-options{
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.inside-container{
  display: flex;
}

mat-select{
  width: 50%;
}

