<h1>לקנות מהר, למכור מהר.<br>ויש לנו אחלה כלים לזה.</h1>
<div class="icon-contaner-external">
<div class="icons-container">

  <img src="./../../assets/icon_alert.svg" alt="">
  <p>התראות</p>
</div>
<div class="icons-container">

  <img src="./../../assets/icon_chat.svg" alt="">
  <p>צאט</p>
</div>
<div class="icons-container">

  <img src="./../../assets/icon_publish.svg" alt="">
  <p>פרסום מודעה</p>
</div>
<div class="icons-container">

  <img src="./../../assets/icon_profile.svg" alt="">
  <p>איזור אישי</p>
</div>
</div>
