<p>database works!</p>


<!-- In your Angular component's HTML -->
<div *ngIf="data">
  <div *ngFor="let asset of data">
    <p>{{asset.id}}</p>
    <p>Category: {{ asset.category }}</p>
    <p>Street: {{ asset.street }}</p>
    <p>Price: {{ asset.price }}</p>
    <p>Has Air Conditioning: {{ asset.hasAirConditioning ? 'Yes' : 'No' }}</p>
    <p>Has Window Bars: {{ asset.hasWindowBars ? 'Yes' : 'No' }}</p>
    <p>Has Elevator: {{ asset.hasElevator ? 'Yes' : 'No' }}</p>
    <p>Has Kosher Kitchen: {{ asset.hasSolarHeater ? 'Yes' : 'No' }}</p>
    <p>Has SolarHeater: {{ asset.hasWindowBars ? 'Yes' : 'No' }}</p>
    <p>Has Window Bars: {{ asset.hasWindowBars ? 'Yes' : 'No' }}</p>
    <p>Has Window Bars: {{ asset.hasWindowBars ? 'Yes' : 'No' }}</p>
    <p>Has Window Bars: {{ asset.hasWindowBars ? 'Yes' : 'No' }}</p>
    <p>Has Window Bars: {{ asset.hasWindowBars ? 'Yes' : 'No' }}</p>
    <p>Has Window Bars: {{ asset.hasWindowBars ? 'Yes' : 'No' }}</p>
    <p>Has Window Bars: {{ asset.hasWindowBars ? 'Yes' : 'No' }}</p>




  </div>
</div>
