.external-container{
  max-width: 1100px;
  min-height: 200px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);

  background-color: white;
  padding: 20px;
  border-radius: 4px;

}
form{
  margin-bottom: 20px;
}
.first-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  p{
    font-weight: bold;

    a{
      color: #ff7100;
    }
  }
}
// .asset-info{
//   display: flex;
//   flex-direction: column;
// }


.asset-info {
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: right;
}

.asset-info label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.asset-info input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.asset-info input[type="text"]::placeholder {
  color: #888;
}


//





form{
  display: flex;
  gap: 1px;
  justify-content: space-around;
  align-items: flex-start;

}

.drop-down-property-types-hide{
  display: none;
}
.drop-down-property-types-show{
}
