
<div class="external-container">
  <!-- <div class="container"> -->
    <div class="first-container">
        <p>
          איזה נכס ל
          <a href="">מכירה</a>
            תרצו לחפש?
        </p>
      <button class="phone-notificatin-ctn">
        קבלו התראות במייל על החיפוש
      </button>
    <!-- </div> -->
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="handelSubmit()">
    <div class="asset-info">
      <label for="">חפשו אזור, עיר, שכונה או רחוב</label>
      <input
      id="area"
      type="text"
      formControlName="area"
      placeholder="לדוגמה: תל אביב יפו"
      required=""
      >
    </div>

    <div class="asset-info">
      <label for="">סוג נכס

      </label>

      <app-input-with-icon
        (click) = "updateIsDropdown()"
        [isOpenArrowIcon]="IsDropdown"
      ></app-input-with-icon>
      <div [ngClass]="{ 'drop-down-property-types-show': IsDropdown, 'drop-down-property-types-hide': !IsDropdown }">
        <app-drop-down-property-types></app-drop-down-property-types>
      </div>
    </div>

    <app-input-rooms-number></app-input-rooms-number>
    <app-input-price></app-input-price>

  </form>


</div>




