*{
  // direction: rtl;
  // font-family: Rubik,sans-serif;
  font-size: 17px;
  // color: rgb(86, 87, 88);
  background-color: gray  ;
}


.app-signup-login-side{
  display: none;
}

// .search-bar{
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

// }

@media (min-width: 880px){
  *{
    background: rgb(251 242 234)

    }

  .side-by-side{
    display: flex;
    gap: 190px;
    justify-content: center;
    align-items: center;
  }

  .app-signup-login-side{
    display: flex;
  }



}
