<!-- <app-header></app-header>
<div class="side-by-side">
  <app-sign-up></app-sign-up>
  <app-signup-login-side class="app-signup-login-side"></app-signup-login-side>
</div> -->
<!-- <app-material></app-material> -->


<!-- <app-header></app-header>
<div class="side-by-side">
  <app-log-in></app-log-in>
  <app-signup-login-side class="app-signup-login-side"></app-signup-login-side>
</div>
<app-footer></app-footer> -->

<!-- <app-header></app-header>

 <div class="search-bar">
  <app-search-bar></app-search-bar>
</div> -->

<router-outlet></router-outlet>

<!-- <app-database></app-database> -->
<app-assset-card></app-assset-card>

<!-- <app-drop-down-property-types></app-drop-down-property-types> -->



